<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <!-- the split('') here is to change the text to an array. let i=index; is used to return the current index of the letter, which is used in passing a parameter to the function compare -->
        <span [class]="compare(letter,enteredText[i])" *ngFor="let letter of randomText.split('');let i=index;">{{letter}}</span>
      </p>
      <div class="field">
        <input class="input" (input)="onInput($any($event).target.value)" />
      </div>
      <div class="box has-text-centered">
        <h2 class="title" *ngIf="randomText===enteredText">Success!</h2>
      </div>
    </div>
  </div>
</div>